body{
    background-color: black;
}
#link_principal{
    z-index: 3;
    position: fixed;
    font-size: 25px;
}
#ancla_principio{
    z-index: 4;
    position: fixed;
    color: green;
    bottom: 0%;
    right: 0%;
    font-size: 25px;
}
#video_fondo{
    width: 100%;
}
#links{
    z-index: 2;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 72%;
    position: absolute;
}
#logo_inicial{
    z-index: 1;
    align-items: center;
    padding-top: 5%;
    padding-left: 37%;
    padding-right: 60%;
    position: absolute;
}
p{
    color: #f4be53;
    font-size: 30px;
}
a{
    color: red;
}
#anclas{
    z-index: 1;
    color: grey;
    font-size: 25px;
    padding-top: 13%;
    padding-left: 40%;
    padding-right: auto;
    position: absolute;

}
h1{
    color: white;
}
.Introducción{
    padding-left: 50px;

}
#video_general{
    float: right;
    width: 1200px;
    padding-top: 5%;
    padding-left: 15px;
    position: relative;
}
.intro_titanes{
    text-align: center;
    position: relative;
}

.imagen_titanes{
    width: 400px;
    height: 400px;
}
#div_titanes1{
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
    float: left;
    width: 550px;
    margin-left: 30px;
}
#div_titanes2{
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
    float: left;
    width: 550px;
    padding-right: 4%;
    padding-left: 3%;
}
#div_titanes3{
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
    margin-right: 2%;
    float: left;
    width: 550px;
}
#div_titanes_final{
    clear: both;
    text-align: center;
}
.batalla_colosal{
    padding-left: 50px;
    font-size: 30px;
}
#batalla_colosal_gif{
    padding-left: 8%;
    width: 85%;
    height: 500px;
}
#tiempo_de_guerra{
    text-align: center;
    font-size: 80px;
    color: red;
}
table a img{
    height: 80px;
    width: 80px;
}
#Trailer{
    padding-left: 28%;
}
