/*-------------------------------- 
seccion general
*/
*{
	box-sizing: border-box;
}
body{
	margin:50px 250px;
	background-color:grey;
	font-family: Arial;
}

/*-------------------------------- 
seccion cabecera
*/
header{
	border:5px black solid;
	background-color: #6ccbd4;
	text-align: center;
	text-align: 40px;
	padding: 30px;
	margin-bottom:20px;
}
/*-------------------------------- 
seccion menu enlaces
*/
nav{
	border:5px black solid;
	margin: 16px auto;
	text-align: center;
	background-color: #6ccbd4;
}
nav ul{
	margin: 0;
}
nav li:hover{
	background-color:white;
}
nav ul li {
	padding: 20px;
	text-align: center;
	display: inline-block;
}
nav ul li a {
	text-decoration:none;
	color: black;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.menu1{
	float: left;
}
.menu2{
}
.menu3{
	float: right;
}
/*-------------------------------- 
seccion cuerpo main
*/
main{
	border:5px orange solid;
	background-color: white;
	width: 75%;
	float: left;
	padding: 0px 0px 15px 0px;

}
main h2{
	text-align: center;
}
/*-------------------------------- 
seccion formulario
*/
form{
	margin-left: 5%;
}
/*-------------------------------- 
seccion cuerpo aside
*/
aside{
	background-color: grey;
	float:left;
	padding: 0px 0px 15px 15px;
	width: 25%;
	
}
aside div{
	border:5px orange solid;
	background-color:white;
	padding:15px;
	margin-bottom:15px;
}
/*-------------------------------- 
seccion  pie de pagina
*/
footer{
	border:5px black solid;
	color: black;
	text-align: center;
	background-color:#4ea9a8;
	clear: both;
	padding: 20px;
}
