/*cofiguracion general*/
li{
	display: inline-block;
}
a{
	text-decoration: none;
}
/*cofiguracion contenedor*/
.contenedor{
	display:flex;
	justify-content:space-between;
}
/*cofiguracion menu*/
.menu ul{
	padding: 0;
}
.menu li a{
	color: gray;
	margin: auto 20px;
}
/*configuracion lenguaje*/
.idiomas li a{
	background-color: gray;
	color: white;
	padding: 10px;
}
