*{
	margin:0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
header,footer{
	padding: 1% ;
	text-align: center;
	background-color: #f1f1f1;
}
main{
	height: 100%;
	display: flex;
}
article{
	padding: 10px 0px 0px 10px;
	flex-grow: 1;
	background-color: #c3c3c3;
}
nav{
	flex-grow: 3;
	background-color: #8e8e8e;
}
nav h2{
	margin:15px 0px;
}
aside{
	padding: 10px 0px 0px 10px;
	flex-grow: 1;
	background-color: #c3c3c3;
}