/*cofiguraciones generales*/
a{
	text-decoration: none;
	color: black;
}
li{
	display: inline-table;
}

p{
	border-bottom: 1px solid #eaeaea;
}
/*configuracion de body*/
body{
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #93d9e9;
}
/*cofiguracion de div*/
.contenedor{
	display: flex;
}
.caja1,.caja2,.caja3{
	box-shadow:5px 5px 5px grey; 
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	height: 480px;
	background-color: white;
	border-radius: 15px;
}

/*cofiguracion de div-cabecera*/
header{
	padding: 24px 50px;
	text-align: center;
	background-color: salmon;
	font-weight: bold;
	border-radius: 15px 15px 0px 0px;
}
h1{
	margin: 0;
}
/*cofiguracion de div-main*/
main{
	padding: 15px 15px 0px 15px;
	text-align: center;
	height: 100%;
}
/*cofiguracion de div-footer*/
footer{
	text-align: center;
	padding-bottom: 20px;
}
footer a{
	border-radius: 5px;
	padding: 10px 25px;
	background-color: #efefef;
}

/*MUCHOS PROBLEMAS DE CONFIGURACION*/